{% extends "::base.html.twig" %}

{% block title %}CodersLabBundle:Contact:modify{% endblock %}

{% block body %}
<h1>Welcome to the Contact:modify page</h1>

{{form_start(form)}}
{{form_widget(form)}}
<input type="submit" value="Modify">
{{form_end(form)}}

{% endblock %}
